@import '../../scss/variables';
@import '../../scss/functions';

.user {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    &__img {
        width: 20rem;
        height: 20rem;
        border: .5em solid white;
        outline: .1em solid $color-blue;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
    }

    &__contents {
        text-align: center;
    }

    &__actions {
        padding: 2rem 0;
    }

    &__false {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex: 1;
        text-align: center;

        &__actions {
            min-width: 25rem;
        }
    }
}