@import '../../scss/variables';

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;

    &__text {
        max-width: 30rem;
        text-align: center;
    }

    &__popup {
        position: absolute;
        bottom: 0;
        right: 2rem;
        width: 15rem;
        padding: .5rem 2rem;
        border: .1em solid $color-blue-lighter;
        border-radius: .5em .5em 0 0;
        color: $color-blue-lighter;
        transition: all 1s ease-in-out;

        &[open] {
            padding: 2rem;
            border-color: $color-blue-light;
            color: $color-gray-darken;
            background-color: $color-blue-lighter;
        }

        &__summary {
            cursor: pointer;
        }

        &[open] &__summary {
            margin-bottom: 1rem;
        } 
    }

    &__true {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex: 1;

        &__buttons {
            display: flex;
            gap: 1rem;
        }
    }
}