form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    flex-wrap: wrap;
}

input {
    color: $color-gray-darken;
    padding: .5em 1em;
    border: .1em solid $color-blue-lighter;
    border-radius: .5em;
    cursor: pointer;

    &:focus {
        outline: .1em solid $color-turquoise;
    }

    &::placeholder {
        color: $color-blue-lighter;
    }
}