h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 1rem 0;
}

h1,
.h1 {
    font-size: fs(huge);
}

h2,
.h2 {
    font-size: fs(x-big);
}

h3,
.h3 {
    font-size: fs(x-big);
}

h4,
.h4 {
    font-size: fs(x-large);
}

h5,
.h5 {
    font-size: fs(large);
}

h6,
.h6 {
    font-size: fs(medium);
}

p {
    margin: 0;
    max-width: 60rem;
}

p + p {
    margin-top: 1rem;
}