$color-blue-lighter: hsl(212, 33%, 70%);
$color-blue-light: hsl(212, 33%, 60%);
$color-blue: hsl(212, 33%, 47%);
$color-blue-dark: hsl(212, 33%, 32%);
$color-blue-darken: hsl(212, 33%, 20%);

$color-turquoise-lighter: hsl(183, 56%, 84%);
$color-turquoise-light: hsl(183, 56%, 73%);
$color-turquoise: hsl(183, 56%, 52%);
$color-turquoise-dark: hsl(183, 56%, 37%);
$color-turquoise-darken: hsl(183, 56%, 25%);

$color-gray-lighter: hsl(0, 0%, 87%);
$color-gray-light: hsl(0, 0%, 79%);
$color-gray: hsl(0, 0%, 60%);
$color-gray-dark: hsl(0, 0%, 40%);
$color-gray-darken: hsl(0, 0%, 07%);

$color-alert: hsl(0, 70%, 60%);

$font-family: Arial, sans-serif;

$font-sizes: (
    "small": 1.2,
    "medium": 1.5,
    "large": 1.8,
    "x-large": 2,
    "big": 2.4,
    "x-big": 3,
    "huge": 5,
    "x-huge": 7
);

$color-list: (
    'blue-lighter': $color-blue-lighter,
    'blue-light': $color-blue-light,
    'blue': $color-blue,
    'blue-dark': $color-blue-dark,
    'blue-darken': $color-blue-darken,
    'turquoise-lighter': $color-turquoise-lighter,
    'turquoise-light': $color-turquoise-light,
    'turquoise': $color-turquoise,
    'turquoise-dark': $color-turquoise-dark,
    'turquoise-darken': $color-turquoise-darken,
    'gray-lighter': $color-gray-lighter,
    'gray-light': $color-gray-light,
    'gray': $color-gray,
    'gray-dark': $color-gray-dark,
    'gray-darken': $color-gray-darken
);