@import './variables';
@import './functions';
@import './typography';
@import './links';
@import './forms';
@import './utilities';

::selection {
    background-color: $color-turquoise-lighter;
}

html {
    font-size: 62.5%;
}

body {
    margin: 9rem 0 0 0;
    font-size: fs(medium);
    font-family: $font-family;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
    margin: 5rem 0 2rem;
    border-top: .05em solid $color-gray-darken;
}